<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Firebase.Xamarin" version="0.3.6" targetFramework="monoandroid70" />
  <package id="Glide.Xamarin" version="3.8.0" targetFramework="monoandroid70" />
  <package id="MaterialSpinner-Xamarin" version="1.1.1" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="monoandroid70" />
  <package id="Rx-Core" version="2.2.5" targetFramework="monoandroid70" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="monoandroid70" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="monoandroid70" />
  <package id="Rx-Main" version="2.2.5" targetFramework="monoandroid70" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="monoandroid70" />
  <package id="Xam.Plugin.Connectivity" version="3.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Annotations" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Design" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Transition" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.GridLayout" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.3.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Bindings.CircleImageView" version="2.1.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Build.Download" version="0.4.4" targetFramework="monoandroid70" />
  <package id="Xamarin.Firebase.Auth" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Firebase.Common" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Firebase.Storage" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Firebase.Storage.Common" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Location" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Maps" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Places" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="42.1021.1" targetFramework="monoandroid70" />
  <package id="Xamarin.NineOldAndroids" version="0.0.1" targetFramework="monoandroid60" />
</packages>